.container{
    border:1px solid silver;
    width:70%;
}

.header{
    display: flex;
    justify-content: center;
}

.flexContianer{
    display: flex;
}
.item-list{
    cursor: pointer;
}
.flex{

    display: flex;
}

.pgn-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.pgn{
    border: 1px solid rebeccapurple;
    border-radius: 25%;
    margin-left: 0.5rem;
    padding: 0.2rem;
    color:#000;
    cursor: pointer;
}
.pgn:hover{
    background-color: rgb(150, 25, 199);
    color:#fff
}

.button {
  align-items: center;
  background-clip: padding-box;
  background-color: #d540e9;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  padding: 1rem;
  position: relative;
  transition: all 250ms;
  margin-bottom: 1rem;
}

.button:hover {
  background-color: #fb8332; 
}
 

