<div class="container">
  <div class="header">Item List</div>
  <div class='flexContianer'  >
  <div class='pagination' *ngIf="(items$ | async ) as items " >
    <div *ngFor="let item of newItemsList | slice:start:end"  class='flex' > 
      <input type="checkbox" [checked]="item.important" (click)="setChecked(item.id)"> <div [ngStyle]="item.important?{'color': 'red'} : {'color': 'blue'}" class='item-list' (click)="showItem(item)">{{item.title}}</div>
    </div>
    <div class='flex pgn-container'>
    <div class='pgn' *ngFor= "let i of array" (click)="setContent(i)">{{i+1}}</div>
  </div>
  </div>
  
  <div class="showItem" *ngIf="itemToPresent">
    
    {{itemToPresent.title}} <br>
    id: {{itemToPresent.id}}  <br>
    {{itemToPresent.important ? "is important!" : " is not imporatn"}}

  </div>
</div>
<button (click)="sortByTitle()">sort by title</button>
</div>